# Created by .ignore support plugin (hsz.mobi)
/20190403132102.csv
/my.markdown
/apps/aliyun/my_sms/const.py
/apps/aliyun/my_sms/send_sms.py
/apps/aliyun/app_private_key.txt
/apps/aliyun/app_public_key.txt
/apps/aliyun/my_alipay/pay.py
.idea/dataSources.local.xml
.idea/vcs.xml
.idea/workspace.xml
20190403132102.csv
WasteRecyclingSystem/__pycache__/
__pycache__/
apps/__pycache__/
apps/aliyun/__pycache__/
apps/aliyun/my_alipay/__pycache__/
apps/aliyun/my_sms/__pycache__/
apps/aliyun/my_sms/aliyunsdkdysmsapi/__pycache__/
apps/aliyun/my_sms/aliyunsdkdysmsapi/request/__pycache__/
apps/aliyun/my_sms/aliyunsdkdysmsapi/request/v20170525/__pycache__/
apps/order/__pycache__/
apps/order/migrations/__pycache__/
apps/scrap/__pycache__/
apps/scrap/migrations/__pycache__/
apps/user/__pycache__/
apps/user/migrations/__pycache__/
apps/utils/__pycache__/
my.markdown
requirements.txt
